name: Build & Deploy Spring Boot App

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout backend repository
        uses: actions/checkout@v4

      # ---------- Clone Angular Frontend ----------
      - name: Clone Angular Frontend
        run: |
          git clone https://github.com/soyjuanmedina/forestPlus-FRONT

      # ---------- Node ----------
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # ---------- Build Angular ----------
      - name: Install Angular dependencies
        run: |
          cd forestPlus-FRONT
          npm ci

      - name: Build Angular
        run: |
          cd forestPlus-FRONT
          npm run build -- --configuration=production

      # ---------- Copy Angular build into Spring Boot static ----------
      - name: Copy Angular build to Spring Boot static
        run: |
          rm -rf src/main/resources/static/*
          cp -r forestPlus-FRONT/dist/forest-plus/browser/* src/main/resources/static/

      # ---------- JAVA ----------
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Install lftp
        run: sudo apt-get update && sudo apt-get install -y lftp

      - name: Deploy WAR via lftp
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
        run: |
          WAR_FILE=$(find target -name "*.war" | head -n 1)

          lftp -c "
            set ftp:ssl-allow true
            set ftp:ssl-force true
            set ftp:ssl-protect-data true
            set ftp:passive-mode true
            set ssl:verify-certificate no
            open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_SERVER

            rm -f /appservers/apache-tomcat-10x/webapps/ROOT.war || true
            put -O /appservers/apache-tomcat-10x/webapps/ $WAR_FILE
          "
