name: Build and Deploy to Tomcat

on:
  push:
    branches:
      - main  # Se despliega al hacer push a main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Build WAR
        run: mvn clean package

      - name: Deploy to Tomcat
        uses: appleboy/tomcat-action@v0.2.2
        with:
          tomcat_url: ${{ secrets.TOMCAT_URL }}     # Ej: http://tu-servidor:8080/manager/text
          tomcat_username: ${{ secrets.TOMCAT_USER }}
          tomcat_password: ${{ secrets.TOMCAT_PASSWORD }}
          war_file: target/ROOT.war
